{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Request a Depostit/Withdrawal{% endblock title %}

{% block content %}
<h2>Request Depost/Withdrawal</h2>

<form method="post">
    <style>
        .asteriskField {
            display: none;
        }
    </style>
    {% csrf_token %}
    {% crispy form form.helper %}
    <button class="btn btn-success" type="submit">Send Request</button>
    <a class="btn btn-danger" href="{% url 'transaction_cancel' %}">Cancel</a>
</form>
{% endblock content %}