{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
    Welcome, {{ user.username }}!
    <p>Note that the site is still under construction and you may need to make a new account once the service officially launches</p>
{% else %}
    <p>The site is currently under construction, but feel free to make an account.</p>
    <p>Note that if you make an account you may have to make a new one once the service officially launches.</p>
{% endif %}
{% endblock content %}