{% extends 'base.html' %}

{% block content %}
    <br/>
    <div class="row">
        <div class="mr-auto col-auto">
            <h2>{{ object.username }}</h2>
        </div>
        <div class="ml-auto col-auto">
            <a class="btn btn-primary" href="{% url 'transfer_add' %}">Transfer Funds/Pay Someone</a>
        </div>
    </div>

    {% for account in object.account_set.all %}
       <!--- <p>{{ account.account_name }}</p>-->
       <div class="card">
           <div class="card-header">
               <span class="font-weight-bold"><a href="{% url 'account' account.pk %}">{{ account.account_name }}</a></span>
               {% if account.primary %}
                    <span class="text-muted">Primary</span>
               {% endif %}
           </div>
           <div class="card-body">
               <table class="table">
                   <thread>
                       <tr>
                           <th scope="col">Netherite Blocks</th>
                           <th scope="col">Netherite Ingots</th>
                           <th scope="col">Netherite Scrap</th>
                           <th scope="col">Diamond Blocks</th>
                           <th scope="col">Diamonds</th>
                       </tr>
                   </thread>
                   <tbody>
                       <tr>
                           <td>{{ account.balance.0 }}</td>
                           <td>{{ account.balance.1 }}</td>
                           <td>{{ account.balance.2 }}</td>
                           <td>{{ account.balance.3 }}</td>
                           <td>{{ account.balance.4 }}</td>
                       </tr>
                   </tbody>
               </table>
           </div>
       </div>
       <br />
    {% endfor %}
{% endblock content %}